.bg-black-transparent-25 {
    background-color: hsla(0, 0%, 0%, 0.25)
}
.bg-black-transparent-50 {
    background-color: hsla(0, 0%, 0%, 0.5)
}
.bg-black-transparent-75 {
    background-color: hsla(0, 0%, 0%, 0.75)
}
.bg-white-transparent-25 {
    background-color: hsla(0, 0%, 100%, 0.25)
}
.bg-white-transparent-50 {
    background-color: hsla(0, 100%, 97%, 0.37)
}
.bg-white-transparent-75 {
    background-color: hsla(0, 0%, 100%, 0.625)
}
.typo-oswald {
    font-family: 'Oswald', sans-serif;
}
.transparent-30{
    background-color: hsla(0, 0%, 0%, 0.622)
}
.font-Lato {
    font-family: 'Lato', sans-serif;;
}
.bg-white-transparent-40 {
    background-color: hsl(0, 0%, 98%)
}
a:hover{
    text-decoration: line-through;
}
.width-crispy img{
    width: 1000px;
}